<h2><i class="fa fa-chevron-left pointy" ng-click="prev()"></i> Trip matches</h2>

<h3>{{trip.city}} - from {{trip.start_date | date:'mediumDate'}} 
				to {{trip.end_date | date:'mediumDate'}}</h3>

<p ng-if="matches.length === 0">
	None to show, sorry! Check back later.
</p>

<div ng-if="matches.length > 0">
	<div ng-repeat="match in matches" class="panel panel-default" ng-click="showMessages(match)">
		<div class="panel-heading">
			<h4>{{match.user.name}}</h4>
		</div>
		<div class="panel-body">
			<p>
				<strong>{{match.user.name}}</strong> is also going 
				to {{trip.city}} 
				from {{match.start_date | date:'mediumDate'}} 
				to {{match.end_date | date:'mediumDate'}}.
			</p>
		</div>
		<div class="panel-footer" ng-if="matches[0].purpose">
			<blockquote>{{match.purpose}}</blockquote>
		</div>
	</div>
</div>
